// @font-face {
//   font-family: 'Aktiv Grotesk Regular';
//   src: url("/assets/fonts/AktivGrotesk-Regular.otf") format("opentype");
// }

@font-face {
  font-family: "AvenirNext-DemiBold";
  src: url("/assets/fonts/AvenirNext/AvenirNextLTPro-Bold.otf") format("opentype");
}

@font-face {
  font-family: "AvenirNext-Medium";
  src: url("/assets/fonts/AvenirNext/AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url("/assets/fonts/RobotoCondensed-Bold.ttf") format("truetype");
}

// @font-face {
//   font-family: 'CircularStd-Book';
//   src: url("/assets/fonts/CircularStd-Book.otf") format("opentype");
// }

// @font-face {
//   font-family: 'Helvetica Neue Cyr Bold';
//   src: url('/assets/fonts/HelveticaNeueCyr-Bold.eot');
//   src: url('/assets/fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
//   url('/assets/fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
//   url('/assets/fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Interstate Bold';
//   src: url('/assets/fonts/Interstate/Interstate-Bold.ttf') format('truetype');
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Majesti';
//   src: url("/assets/fonts/Majesti/Majesti-Banner-BookItalic.otf") format("opentype");
  //src: url('/assets/fonts/Majesti/majesti-banner-bookitalic-webfont.woff2') format('woff2'),
  //url('/assets/fonts/Majesti/majesti-banner-bookitalic-webfont.woff') format('woff'),
  //url('/assets/fonts/Majesti/majesti-banner-bookitalic-webfont.ttf') format('truetype');
//   font-display: swap;
// }

// @font-face {
//   font-family: "Interstate-Regular";
//   src: url("/assets/fonts/Interstate-Regular.ttf") format("truetype");
//   font-display: swap;
// }

// @font-face {
//   font-family: "Interstate Regular";
//   src: url('/assets/fonts/Interstate/interstate-regular.woff2') format('woff2'),
//   url('/assets/fonts/Interstate/interstate-regular.woff') format('woff'),
//   url('/assets/fonts/Interstate/interstate-regular.ttf') format('truetype');
//   font-display: swap;
//   font-style: normal;
// }

// @font-face {
//   font-family: "LucidaGrande";
//   src: url('/assets/fonts/LucidaGrande/lucidagrande.woff2') format('woff2'),
//   url('/assets/fonts/LucidaGrande/lucidagrande.woff') format('woff'),
//   url('/assets/fonts/LucidaGrande/lucidagrande.ttf') format('truetype');
//   font-style: normal;
// }

// @font-face {
//   font-family: "LucidaGrandeBold";
//   src: url("/assets/fonts/LucidaGrandeBold.ttf") format("truetype");
// }

// @font-face {
//   font-family: 'Times-Bold';
//   src: url("/assets/fonts/Times-Bold.otf") format("opentype");
// }

//@import url('https://fonts.googleapis.com/css?family=Lato:300');
/*font-family: 'Lato', sans-serif;*/
// @import url('https://fonts.googleapis.com/css?family=Playfair+Display:700');
/*font-family: 'Playfair Display', serif;*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
/*font-family: 'Roboto', sans-serif;*/


@font-face {
  font-family: 'TradeGothicLTStd-Bd2';
  src: url("/assets/fonts/TradeGothicLTStd/TradeGothicLTStd-Bd2.otf") format("opentype");
}

@font-face {
  font-family: 'TradeGothicLTStd';
  src: url("/assets/fonts/TradeGothicLTStd/TradeGothicLTStd.otf") format("opentype");
}