<div class="footer">
  <div class="footer-wrapper wrapper">
    <div class="footer-logo flex-center">
      <img class="footer-logo__main" src="../../../assets/images/ee-logo.svg" alt="Endeavor Experiances logo">
      <p class="footer-logo__divider"></p>
      <img class="footer-logo__additional" src="../../../assets/images/product-page-hero-logo.png"
        alt="Endeavor Experiances logo">
    </div>
    <div class="footer-content">

      <div class="footer-content-part">
        <div class="footer-contacts">
          <div class="footer-contacts-content">
            <div class="footer-info">
              <h4 class="footer-info-title">
                CAN WE HELP?
              </h4>
              <div class="footer-info-description">
                Call our Concierge service for help and inspiration on your next experience, NYFW and beyond.
              </div>
              <div class="footer-info-phone">
                <span class="footer-info-phone-image"></span>
                <div class="footer-info-phone-number">
                  <a [href]="environment.data.phoneLink">{{environment.data.phone}}</a>
                </div>
              </div>
              <div class="footer-info-emails">
                <span class="footer-info-emails-image"></span>
                <div class="footer-info-emails-address">
                  <a [href]="environment.data.emailLink">{{environment.data.email}}</a>
                </div>
              </div>
            </div>
            <div class="footer-links">
              <a class="footer-links-item" routerLink="/terms">TERMS OF USE</a>
              <a class="footer-links-item" routerLink="/privacy">PRIVACY POLICY</a>
              <a class="footer-links-item" routerLink="/cookie">COOKIE POLICY</a>
              <a class="footer-links-item" routerLink="/purchase">PURCHASE POLICY</a>
            </div>
          </div>
          <div class="footer-logo flex-center footer-logo__mobile">
            <img class="footer-logo__main" src="../../../assets/images/ee-logo.svg" alt="Endeavor Experiances logo">
            <p class="footer-logo__divider"></p>
            <img class="footer-logo__additional" src="../../../assets/images/product-page-hero-logo.png"
              alt="Endeavor Experiances logo">
          </div>
          <div class="footer-contacts-copyrights">
            © 2019 Endeavor Experiences, LLC
          </div>
        </div>
      </div>
      <div class="footer-content-part"></div>
    </div>
  </div>
</div>