<main>
  <div class="container">
    <p class="policy-heading">Privacy Notice</p>
    <p class="policy-text">This notice describes how we use your personal information.</p>
    <p class="policy-text">This Privacy Notice last changed on August 14, 2018.</p>
    <p class="policy-block-heading">Who we are</p>
    <p class="policy-text">We are Endeavor Experiences, LLC and we respect your privacy. We value the trust you place in us when you share your personal information with us. This Privacy Policy sets out how we, as joint data controllers, collect, hold, use, process and disclose your personal information, why and with what legal reasoning we process it, with whom and for what purposes we share it, the rights to which you may be entitled and your choices about our use of your personal information. This Privacy Policy covers our use of your personal information arising from use of the Endeavor Experiences platform as well as registering / subscribing / buying / using our products and services.</p>
    <p class="policy-text">Your personal information is collected by Endeavor Experiences, LLC and its affiliates ("we"/"us"/"our"). </p>
    <p class="policy-text">Endeavor Experiences’s contact details are as follows:</p>
    <p class="policy-text">Endeavor Experiences, LLC <br>200 Fifth Avenue, 7th Floor <br>New York, New York <br>E-mail:  <a class="policy-text-link" href="mailto:experiences@endeavorco.com">experiences@endeavorco.com</a></p>
    <p class="policy-text">We have appointed International Management Group (UK) Limited of Building 6, Chiswick Business Park, 566 Chiswick High Road, London W4 5HR as our representative in the EU. If you have any questions or complaints in relation to the use of your personal information or this Notice you can contact our representative as below.</p>
    <p class="policy-text">E-mail: <a class="policy-text-link" href="mailto:dataprivacy@img.com">dataprivacy@img.com</a><br>Post: Building 6, Chiswick Business Park, 566 Chiswick High Road, London W4 5HR<br>Telephone: +44 20 8233 6510</p>
    <p><a class="policy-text-link-main" href="#data">Data collection and usage</a></p>
    <p><a class="policy-text-link-main" href="#sources">Sources of data</a></p>
    <p><a class="policy-text-link-main" href="#requirements">Legal and other requirements</a></p>
    <p><a class="policy-text-link-main" href="#keep-info">How long we keep your information</a></p>
    <p><a class="policy-text-link-main" href="#share">Information we share</a></p>
    <p><a class="policy-text-link-main" href="#info-held">Where your information will be held</a></p>
    <p><a class="policy-text-link-main" href="#rights">Your rights</a></p>
    <p><a class="policy-text-link-main" href="#object">Right to object</a></p>
    <p><a class="policy-text-link-main" href="#direct">Direct marketing</a></p>
    <p><a class="policy-text-link-main" href="#analysis">Analysis and advertising</a></p>
    <p><a class="policy-text-link-main" href="#cookies-notice">Cookies and Similar Technology</a></p>
    <p><a class="policy-text-link-main" href="#security-notice">Security</a></p>
    <p><a class="policy-text-link-main" href="#links-notice">Links to third party websites</a></p>
    <p><a class="policy-text-link-main" href="#children-notice">Children</a></p>
    <p><a class="policy-text-link-main" href="#changes-notice">Changes to the notice</a></p>
    <p><a class="policy-text-link-main" href="#contact-notice">How to contact us</a></p>
    <p id="data" class="policy-block-heading">Data collection and usage</p>
    <p class="policy-text">We will collect store and use your personal information </p>
    <ol type="a" class="terms-list">
      <li>to conduct our business;</li>
      <li>to allow access to this website, register / subscribe / buy / use our products and services;</li>
      <li>to allow access to and use of our mobile applications and games ("Apps");</li>
      <li>to meet our legal obligations;</li>
      <li>to fulfil any purpose we make known to you when we collect your personal information; and</li>
      <li>to fulfil other purposes set out in more detail in this section.</li>
    </ol>
    <p class="policy-text">Certain types of personal information are more sensitive than others. "Special information" about you includes information about health, disability, race, ethnicity, or religion. We may collect and receive special information about you.</p>
    <p class="policy-text">We have identified here the types of information we may collect or receive, how we will use it and why we will use it.</p>
    <p class="policy-text">The table below explains what information we collect and potentially how and why we use it.</p>
    <div class="table">
      <div class="row table-border">
        <div class="col-1"></div>
        <div class="col">What information we collect</div>
        <div class="col">How we use your data</div>
        <div class="col">Why we use your information</div>
      </div>
      <div class="row table-border">
        <div class="col-1">1</div>
        <div class="col">
          <p class="policy-text-table">We collect your personal information in a number of ways:</p>
            <ul class="policy-list-table">
              <li>when you set up a user account;</li>
              <li>when you subscribe to email updates, newsletters or other subscriptions and features made available on our website /Apps from time to time; and</li>
              <li>when you participate in our contests, promotions, sweepstakes, surveys, games, or live voting features on our website / Apps.</li>
            </ul>
          <p class="policy-text-table">Specifically, we collect personal information you give us such as your name, age, address, social media account details, e-mail address, password, account settings and preferences as well as your friend's email address or corresponding information for other individuals on whose behalf you are acting when using the Service.</p>
          <p class="policy-text-table">We collect aggregate demographic data about Website visitors.</p>
          <p class="policy-text-table">Further information may be collected about you if you register for an account via a social media platforms.</p>
          <p class="policy-text-table">If the functionality is available, you can also create an account for our Apps using your Facebook, Twitter or Google+ credentials. We will not collect your Facebook, Twitter or Google+ username or password but we may collect details from these websites that confirm whether you are logged-in to the App using your Facebook, Twitter or Google+ accounts.</p>
        </div>
        <div class="col">
          <p class="policy-text-table">We use this information to:</p>
          <ul class="policy-list-table">
            <li>create an account for you to use our website / Apps;</li>
            <li>provide our services;</li>
            <li>manage and administer our systems;</li>
            <li>help us ensure that our customers are genuine and to prevent fraud;</li>
            <li>identify how you'd like to use your account</li>
            <li>Send you our newsletters;</li>
            <li>Send your friend a copy of the newsletter</li>
            <li>Administrating the competition or prize draw; </li>
            <li>Contact you and provide you with the prize if you win the competition or prize draw;</li>
            <li>Announce the winner of the competition or prize draw on our Website or Apps;</li>
            <li>Request that you be involved in other publicity for us or third parties;</li>
            <li>Confirm that you are logged-in to the App using your Facebook, Twitter or Google+ accounts; and</li>
            <li>Share this information with third parties if you have provided your consent to this.</li>
          </ul>
        </div>
        <div class="col">
          <p class="policy-text-table">We use this information because:</p>
          <ul class="policy-list-table">
            <li>this is necessary to enter into or perform our contract with you;</li>
            <li>this is necessary to comply with legal or regulatory requirements;</li>
            <li>we have a legitimate business interest to:</li>
            <ul>
              <li>tell you about the various products and services we can offer;</li>
              <li>understand how you use our products, services, platforms Apps and websites;</li>
              <li>understand the type of products and services our customers buy and how they use them;</li>
              <li>Ensure you remain engaged with our services via competitions and prize draws;</li>
              <li>Aggregate demographic data helps us understand general characteristics of our audience;</li>
              <li>understand and respond to customer feedback;</li>
              <li>research and analyse the services our customers want;</li>
              <li>improve our services based on what we learn from your activity and the activity of others on recent visits to our website or Apps;</li>
              <li>postal marketing; or</li>
              <li>direct marketing to business contacts.</li>
              <li>In addition to the above, where we have obtained your consent to use the data, then we can rely on that consent.</li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="row table-border">
        <div class="col-1">2</div>
        <div class="col">
          <p class="policy-text-table">We also collect your information when you attend or register to attend one of our events.</p>
          <p class="policy-text-table">Specifically, we collect personal information you give us such as your name, age, address, e-mail address and corresponding information for other individuals on whose behalf you are acting when using the Service. We may also collect your photograph, audio and video records, and your date of birth. </p>
        </div>
        <div class="col">
          <p class="policy-text-table">We use this information to:</p>
          <ul class="policy-list-table">
            <li>provide you with information about the event that you are attending;</li>
            <li>ensure your eligibility to attend events;</li>
            <li>manage and administer our events efficiently;</li>
            <li>help us ensure that visitors to event are genuine and to prevent fraud; and</li>
            <li>identify how you would like to use your account;</li>
            <li>send you our newsletters;</li>
            <li>send your friend a copy of the newsletter</li>
            <li>administrating the competition or prize draw; </li>
            <li>contact you and provide you with the prize if you win the competition or prize draw; </li>
            <li>announce the winner of the competition or prize draw on our website or Apps or in our events;</li>
            <li>request that you be involved in other publicity for us or third parties;</li>
            <li>share this information with third parties if you have provided your consent to this.</li>
          </ul>
        </div>
        <div class="col">
          <p class="policy-text-table">We use this information because:</p>
          <ul class="policy-list-table">
            <li>this is necessary to enter into or perform our contract with you;</li>
            <li>we have a legitimate business interest to:</li>
            <ul>
              <li>understand and respond to customer feedback;</li>
              <li>manage and administer our events efficiently; or</li>
              <li>direct marketing to business contacts.</li>
            </ul>
            <li>In addition to the above, where we have obtained your consent to use the data, then we can rely on that consent.</li>
          </ul>
        </div>
      </div>
      <div class="row table-border">
        <div class="col-1">3</div>
        <div class="col">
          <p class="policy-text-table">Information about the way you use our services:</p>
          <ul class="policy-list-table">
            <li>the content that you have viewed and/or purchased;</li>
            <li>the things that we've provided, or you've purchased;</li>
            <li>when and where you have accessed content and/or made the purchases (including where information can be identified from your IP address);</li>
            <li>what you paid and how;</li>
            <li>whether you've opened electronic communications from us; </li>
            <li>whether you have clicked on links in electronic communications from us; </li>
            <li>your marketing preferences;</li>
            <li>our Apps (if any) may make use of GPS tracking (with your consent);</li>
            <li>our Apps (if any) may (with your consent) access the photos and videos that you store on your device; and </li>
            <li>our Apps may use push notifications to send you notifications.</li>
          </ul>
        </div>
        <div class="col">
          <p class="policy-text-table">We use this information to:</p>
          <ul class="policy-list-table">
            <li>identify products and services that may be of interest to you (e.g. offering recommended relevant content to you);</li>
            <li>personalise our service to you: to provide you with, make available, and show you more of the things which interest you, based on your activity and feedback;</li>
            <li>do statistical analysis and research with the purpose of allowing us to better understand the breakdown of our customers, the products / services being bought, the demographics of those buying our products and services, what attracts our customers to our products and services, where our customers have come from online (such as from links on other websites or advertising banners), and the way in which our website or App is used by different user groups based on recent visits to and how you move around different sections of our website or Apps; </li>
            <li>improve our services and efficiency of service delivery to help us meet your needs and expectations based on recent visits to and how you move around different sections of our website or Apps; </li>
            <li>develop new services based on what we learn from your activity and the activity of other customers based on recent visits to and how you move around different sections of our website or Apps; </li>
            <li>monitor the way our website / Apps are used; and</li>
            <li>to provide you with location-based functions;</li>
            <li>(to allow you to upload your photos and videos for use in the App;</li>
            <li>to send you notifications regarding the App;</li>
            <li>combine this information with other types of information mentioned above to allow us to make our services more personal and tailored to each customer's preferences and habits.</li>
          </ul>
        </div>
        <div class="col">
          <p class="policy-text-table">We use this information because:</p>
          <ul class="policy-list-table">
            <li>this is necessary to enter into or perform our contract with you;</li>
            <li>we have a legitimate business interest to:</li>
            <ul>
              <li>tell you about the various products and services we can offer;</li>
              <li>understand how you use our products; services, Apps and websites</li>
              <li>understand the type of products and services our customers buy and how they use them;</li>
              <li>understand and respond to customer feedback;</li>
              <li>research and analyse the services our customers want;</li>
              <li>improve our services;</li>
              <li>ensure that we are better able to personalise our offers to you;</li>
              <li>postal marketing; or</li>
              <li>direct marketing to business contacts.</li>
            </ul>
            <li>In addition to the above, where we have obtained your consent to use the data, then we can rely on that consent.</li>
          </ul>
        </div>
      </div>
      <div class="row table-border">
        <div class="col-1">4</div>
        <div class="col">
          <p class="policy-text-table">Information that you give us to make an online purchase, including:</p>
          <ul class="policy-list-table">
            <li>your contact details including: your name, address, age, email address and corresponding information for other individuals on whose behalf you are acting when using the Service;</li>
            <li>your bank account details;</li>
            <li>the details you provide to open an online account with us;</li>
            <li>the product / service purchased.</li>
          </ul>
        </div>
        <div class="col">
          <p class="policy-text-table">We use this information, including to:</p>
        <ul class="policy-list-table">
          <li>process your order;</li>
          <li>take payment from or give you a refund;</li>
          <li>on-board you as a customer;</li>
          <li>provide our products and services;</li>
          <li>manage and administer our services;</li>
          <li>help us ensure that our customers are genuine and to prevent fraud; </li>
          <li>send personalised offers or shopping ideas which are based on your shopping habits; and</li>
          <li>combine this information with other types of information mentioned above to allow us to make our services more personal and tailored to each customer's preferences and habits.</li>
        </ul>
        </div>
        <div class="col">
          <p class="policy-text-table">We use this information because:</p>
          <ul class="policy-list-table">
            <li>this is necessary to enter into or perform our contract with you;</li>
            <li>this is necessary to comply with legal or regulatory requirements;</li>
            <li>we have a legitimate business interest to:</li>
            <ul>
              <li>tell you about the various products and services we can offer;</li>
              <li>understanding how you use our products, services, platforms, Apps and websites based on recent visits to and how you move around different sections of our website or Apps;</li>
              <li>understanding the type of products and services our customers buy and how they use them;</li>
              <li>understanding and responding to customer feedback;</li>
              <li>researching and analysing the services our customers want;</li>
              <li>improve our services and better understand how our customers use them based on recent visits to and how you move around different sections of our website or Apps;</li>
              <li>ensure that we are better able to personalise our offers to you;</li>
              <li>postal marketing; or</li>
              <li>direct marketing to business contacts.</li>
            </ul>
            <li>In addition to the above, where we have obtained your consent to use the data, then we can rely on that consent.</li>
          </ul>
        </div>
      </div>
    <div class="row table-border">
        <div class="col-1">5</div>
        <div class="col">
          <p class="policy-text-table">Information when you communicate with us whether in person, through our website, Apps or via email, over the phone, through social media or via any other medium, including:</p>
          <ul class="policy-list-table">
            <li>your contact details (this may include your social media account if that is the way you communicate with us) and corresponding information for other individuals on whose behalf you are acting when using the Service;</li>
            <li>the details of your communications with us (including when you sent it, when we received it and where you sent it from (such as our website, Apps, via email, through social media)); and</li>
            <li>the details of our messages to you.</li>
          </ul>
          <p class="policy-text-table">We may also use our "chatbot" tool to facilitate our communications with you. Our Chatbot tool is an automated tool which can respond to your questions and comments.</p>

        </div>
        <div class="col">
          <p class="policy-text-table">We use this information, including to:</p>
          <ul class="policy-list-table">
          <li>answer any issues or concerns;</li>
          <li>monitor customer communications for quality and training purposes;</li>
          <li>develop new services which is based on the information your provide;</li>
          <li>improve our services based on the information and feedback you provide and the information and feedback provided by others; and</li>
          <li>personalise our service to you to take account of the information and feedback you have provided.</li>
          </ul>
        </div>
        <div class="col">
          <p class="policy-text-table">We use this information because:</p>
          <ul class="policy-list-table">
            <li>this is necessary to enter into or perform our contract with you;</li>
            <li>this is necessary to comply with legal or regulatory requirements;</li>
            <li>we have a legitimate business interest to:</li>
            <ul>
              <li>understand customer feedback and respond to customer communications in a consistent manner;</li>
              <li>ensure that we are better able to personalise our offers to you; </li>
              <li>research and analyse the services our customers want;</li>
              <li>improve our services based on the feedback you provide;</li>
              <li>provide security over our business and who we trade with;</li>
              <li>prevent and detect fraud;</li>
              <li>use artificial intelligence to route customers to the most appropriate part of the organisation; or</li>
              <li>verifying customer details.</li>
            </ul>
            <li>In addition to the above, where we have obtained your consent to use the data, then we can rely on that consent.</li>
          </ul>
        </div>
      </div>
      <div class="row table-border">
      <div class="col-1">6</div>
      <div class="col">
        <p class="policy-text-table">Information that we collect through your use of the website / App:</p>
        <ul class="policy-list-table">
          <li>technical information, including IP address, login information, browser type and version (e.g., Internet Explorer, Firefox, Safari, etc.), time zone setting, browser plug-in types and versions, operating system  you are using (e.g., Vista, Windows XP, Mac OS, etc.), platform, device type, hardware model, MAC address, unique device identifiers and mobile network information; </li>
          <li>information about your visit, including the full URL clickstream to, through and from our website (including date and time); </li>
          <li>information about your network, such as information about devices, nodes, configurations, connection speeds, and network and application performance; and</li>
          <li>pages you viewed or searched for; page response times, download errors, length of visits to certain pages, page interaction information (such as scrolling, clicks, and mouse-overs), and methods used to browse away from the page.</li>
        </ul>
      </div>
      <div class="col">
        <p class="policy-text-table">We use this information to:</p>
        <ul class="policy-list-table">
          <li>provide our services;
          <li>provide and adapt our services to take account of the technical capabilities of our users and to ensure content is presented in the most effective manner;
          <li>Analyse site traffic and understand customer needs and trends;</li>
          <li>improve our services and for efficiency of service delivery to help us meet your needs and expectations based on recent visits to and how you move around different sections of our website or Apps;</li>
          <li>personalise our services to you: to provide you with, make available, and show you more of the things which interest you, based on your activity and feedback; </li>
          <li>identify products and services that may be of interest to you; (e.g. offering recommended relevant content to you);</li>
          <li>develop new services based on what we learn from your activity and the activity of other customers based on recent visits to and how you move around different sections of our website or Apps;</li>
          <li>identify issues with the website or App and user's experience of them; </li>
          <li>do statistical analysis and research with the purpose of allowing us to better understand the breakdown of our customers, the products / services being bought,  what attracts our customers to our products and services, where our customers have come from online (such as from links on other websites or advertising banners), and the way in which our website or App is used by different users groups; and</li>
          <li>monitor the way our website / platform /App is used.</li>
          <li>combine this information with other types of information mentioned above to allow us to make our services more personal and tailored to each customer's preferences and habits.</li>
        </ul>
      </div>
      <div class="col">
        <p class="policy-text-table">We use this information because:</p>
        <ul class="policy-list-table">
          <li>this is necessary to enter into or perform our contract with you;</li>
          <li>this is necessary to comply with legal or regulatory requirements;</li>
          <li>we have a legitimate business interest to:</li>
          <ul>
            <li>understanding how our customers use our products, services, Apps and websites</li>
            <li>tell you about the various products and services we can offer;</li>
            <li>ensuring network and information security;</li>
            <li>fraud prevention and detection;</li>
            <li>use of artificial intelligence to route customers to the most appropriate part of the organisation;</li>
            <li>assessing the number of visitors, posts, page views, reviews and followers in order to optimise future marketing campaigns;</li>
            <li>postal marketing; or</li>
            <li>direct marketing to business contacts.v
          </ul>
          <li>In addition to the above, where we have obtained your consent to use the data, then we can rely on that consent.</li>
        </ul>
      </div>
      </div>
      <div class="row table-border">
      <div class="col-1">7</div>
      <div class="col">
        <p class="policy-text-table">Information that we collect from third party partners and corporate customers which includes:</p>
        <ul class="policy-list-table">
          <li>payment processing companies;</li>
          <li>your employer, contractor, agent;</li>
          <li>your bank;</li>
          <li>other entities in our group; and</li>
          <li>publicly available sources such as the electoral roll.</li>
        </ul>
        <p class="policy-text-table">This information includes:</p>
        <ul class="policy-list-table">
          <li>Name and title, contact details, company name, business title, email address;</li>
          <li>Where our contacts have online accounts, log-in and similar credentials and information about use of these services;</li>
          <li>Communications with our business contacts.</li>
        </ul>
      </div>
      <div class="col">
        <p class="policy-text-table">We use this information to:</p>
        <ul class="policy-list-table">
          <li>provide our services;
          <li>provide and adapt our services to take account of the technical capabilities of our users and to ensure content is presented in the most effective manner;
          <li>Analyse site traffic and understand customer needs and trends;</li>
          <li>improve our services and for efficiency of service delivery to help us meet your needs and expectations based on recent visits to and how you move around different sections of our website or Apps;</li>
          <li>personalise our services to you: to provide you with, make available, and show you more of the things which interest you, based on your activity and feedback; </li>
          <li>identify products and services that may be of interest to you; (e.g. offering recommended relevant content to you);</li>
          <li>develop new services based on what we learn from your activity and the activity of other customers based on recent visits to and how you move around different sections of our website or Apps;</li>
          <li>identify issues with the website or App and user's experience of them; </li>
          <li>do statistical analysis and research with the purpose of allowing us to better understand the breakdown of our customers, the products / services being bought,  what attracts our customers to our products and services, where our customers have come from online (such as from links on other websites or advertising banners), and the way in which our website or App is used by different users groups; and</li>
          <li>monitor the way our website / platform /App is used.</li>
          <li>combine this information with other types of information mentioned above to allow us to make our services more personal and tailored to each customer's preferences and habits.</li>
        </ul>
      </div>
      <div class="col">
        <p class="policy-text-table">We use this information because:</p>
        <ul class="policy-list-table">
          <li>this is necessary to enter into or perform our contract with you;</li>
          <li>this is necessary to comply with legal or regulatory requirements;</li>
          <li>we have a legitimate business interest to:</li>
          <ul>
            <li>developing and maintaining relationships with vendors, partners and other companies and dealing with individuals who work for them;
            <li>conducting research to improve our services;</li>
            <li>ensuring network and information security;</li>
            <li>providing security over our business and who we trade with; </li>
            <li>direct marketing to business contacts.</li>
          </ul>
          <li>In addition to the above, where we have obtained your consent to use the data, then we can rely on that consent.</li>
        </ul>
      </div>
      </div>
      <div class="row table-border">
      <div class="col-1">8</div>
      <div class="col">
        <p class="policy-text-table">Information that we collect incidentally from other sources or public sources, including:</p>
        <ul class="policy-list-table">
          <li>information available in the media;</li>
          <li>information presented on our social media or wider social media platforms including Facebook, Twitter and Instagram; and</li>
          <li>information collected by security systems (such as CCTV) when you visit our premises or attend our events.</li>
        </ul>
      </div>
      <div class="col">
        <p class="policy-text-table">We use this information, including to:</p>
        <ul class="policy-list-table">
          <li>maintain market awareness;</li>
          <li>build and maintain social media branding;</li>
          <li>provide security to our sites; and</li>
        </ul>
      </div>
      <div class="col">
        <p class="policy-text-table">We use this information because:</p>
        <ul class="policy-list-table">
          <li>this is necessary to enter into or perform our contract with you;</li>
          <li>this is necessary to comply with legal or regulatory requirements;</li>
          <li>we have a legitimate business interest to:</li>
          <ul>
            <li>providing security over our business; </li>
            <li>maintaining a public profile within the media; </li>
            <li>maintaining the accuracy of data we hold; </li>
            <li>conducting research to improve our services;</li>
            <li>ensuring network and information security;</li>
            <li>fraud prevention and detection;</li>
            <li>providing security over our business and who we trade with; </li>
            <li>developing and maintaining relationships with vendors, partners and other companies; or </li>
            <li>dealing with individuals who work for them in our sector</li>
          </ul>
          <li>In addition to the above, where we have obtained your consent to use the data, then we can rely on that consent.</li>
        </ul>
      </div>
      </div>
      <div class="row table-border">
        <div class="col-1">9</div>
        <div class="col">
          <p class="policy-text-table">Special Categories of Information that you give us or that we receive when using our services:</p>
          <ul class="policy-list-table">
            <li>contact details of individuals working for organisations;</li>
            <li>other personal information regarding such individuals.</li>
          </ul>
        </div>
        <div class="col">
          <p class="policy-text-table">We use this information, including to:</p>
          <ul class="policy-list-table">
            <li>build relationships with other organisations;</li>
            <li>provide marketing communications to these individuals; </li>
            <li>improve our services and develop new services based on the preferences and behaviours of these individuals. </li>
          </ul>
        </div>
        <div class="col">
          <p class="policy-text-table">We use this information because:</p>
          <ul class="policy-list-table">
            <li>we have a legitimate business interest to:</li>
            <ul>
              <li>develop and maintain relationships with vendors, partners and other companies; </li>
              <li>deal with individuals who work for them </li>
              <li>tell you about the various products and services we can offer;</li>
              <li>conducting research to improve our services;</li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="row table-border">
        <div class="col-1">10</div>
        <div class="col">
          <p class="policy-text-table">Special Categories of Information that you give us or that we receive when using our services:</p>
          <ul class="policy-list-table">
            <li>Specifying certain dietary requirements that imply specific religious beliefs or medical conditions;</li>
            <li>Buying certain products that imply specific religious beliefs or medical conditions;</li>
          </ul>
        </div>
        <div class="col">
          <p class="policy-text-table">We use this information to :</p>
        <ul class="policy-list-table">
            <li>Provide our services;</li>
            <li>Verify our customers' identities and prevent fraud.</li>
        </ul>
        </div>
        <div class="col">
          <p class="policy-text-table">Some personal information is treated as falling into a special category. This includes information about health, disability, race, ethnicity, or religion and used to be known as sensitive personal data.</p>
          <p class="policy-text-table">We will use this data where:</p>
          <ul class="policy-list-table">
            <li>we have a legitimate business interest to:</li>
            <ul>
              <li>we have your explicit consent for the relevant purpose;</li>
              <li>this is necessary to protect your vital interests in an emergency or those of another person;</li>
              <li>the relevant information has been made public by you;</li>
              <li>this is necessary or in connection with legal claims or court proceedings.</li>
            </ul>
          </ul>
        </div>
      </div>
    </div>
    <p class="policy-text">If you would like to have more information about our legitimate interests to process your personal data, please contact us as set out below.</p>
    <p class="policy-text">We will also receive information about you (including your personal information) if you use any other websites or apps operated or other services provided by us or our group companies. In this case, that information will be shared within the group and combined with information collected on this website / App. We will also receive and display information and content which you make publically available on your social media accounts.</p>
    <p class="policy-text">Some information is processed because you have given your consent to that (where consent is required).  You can withdraw your consent at any time (in your account preferences or settings) or by contacting us using the contact details set out at the top of this Notice. </p>
    <p id="sources" class="policy-block-heading">Sources of data</p>
    <p class="policy-text">Your personal information is either (a) provided by you (e.g. via our website /  App / social media pages); (b) obtained from third parties (such as other entities in our group) or vendors or agents that have performed services on our behalf; or (c) obtained from publicly available sources (e.g. the Internet, Companies House).</p>
    <p class="policy-text">In particular, data may be obtained from the following third parties: galleries, social networks, payment processing companies, ticketing companies, Google Adwords, LinkedIn, Google Analytics, Adobe Analytics, QuintEvents, LLC, display partners, social networks and potentially other sources (e.g., third party site plug-ins).</p>
    <p id="requirements" class="policy-block-heading"> Legal and other requirements</p>
    <p class="policy-text">In some cases we need to collect or retain personal information for legal reasons</p>
    <p class="policy-text">Some of the personal information we request is required to provide the services and if it is not provided, we may not be able to provide the relevant products and services to you or provide information you have requested from us. If the personal information is needed to participate in an activity on our website / App, you may not be able to do so if you do not provide that personal information to us. In other cases, for example, when we request your personal data to send you marketing and promotional communications or to personalise your experience with our services, the lack of such information will mean it is impossible to send you these communications or to personalise your experience, but it will not have any consequence to the primary purpose of the data collection (to provide the services).</p>
    <p class="policy-text">Your personal information may also be processed if it is necessary on reasonable request by a law enforcement or regulatory authority, body or agency, or in order to investigate, prevent or take action regarding suspected illegal activities or fraud, to enforce or apply our Terms of Use and other agreements to protect the rights, property or safety of group companies, customers, clients and others or in the defence of legal claims. We will not delete personal information if relevant to an investigation or a dispute or until applicable law allows for it to be deleted. It will continue to be stored until those issues are fully resolved and it can be lawfully deleted.</p>
    <p class="policy-text">Any personal information you supply to us through our website / App must be complete and accurate. You also agree to allow us to contact you to verify your personal information, if we need to.</p>
    <p id="keep-info" class="policy-block-heading">How long do we keep your information</p>
    <p class="policy-text">We generally keep information as needed to provide services and to deal with legal claims</p>
    <p class="policy-text">We will keep your information for as long as it is reasonably necessary and to deal with claims. It will depend on factors such as whether you have an account with us, have interacted with recent offers or have attended our recent events. We will also retain your information as necessary to comply with legal, accounting or reporting requirements.</p>
    <p class="policy-text">We will also retain a copy of your contact details if you object or opt-out of receiving direct marketing communications from us. We will add your details to our suppression list to ensure you do not receive any future marketing communications from us. Also, we will not delete personal data if relevant to an investigation or a dispute. It will continue to be stored until those issues are fully resolved.</p>
    <p id="share" class="policy-block-heading">Information we share</p>
    <p class="policy-text">There are certain circumstances where we transfer your personal data to employees, contractors and to other parties.</p>
    <ul class="terms-list">
      <li>We share information about you with other members of our group of companies so we can provide the best service across our group. They are required to keep and use your information in accordance with this Privacy Notice.</li>
      <li>We will:
        <ul>
          <li>share aggregated, anonymised or other de-identified data with advertisers, advertising networks and social networks that require the data to select and serve relevant adverts to you and others. We will also use aggregate information to help advertisers reach the kind of audience they want to target.</li>
          <li>make use of the personal information we have collected from you to help our advertisers display their advertisements to a target audience and to present our promotional messages to you including potentially using Facebook Custom Audience. This means you will be presented with advertisements that are more relevant to you as a result of the personal information we hold about you.</li>
          <li>share your personal data with and access information from analytics and search engine providers that assist us in the improvement and optimisation of the website and the app and for better personalisation of content and advertising.</li>
        </ul>
      </li>
      <li>We share your information with certain contractors or service providers. They may process your personal data for us, for example, if we use a marketing agency. Other service providers include advertising agencies, IT suppliers, database providers, backup and disaster recovery specialists, email providers and outsourced call centres. Our suppliers and service providers will be required to meet our standards on processing information and security. The information we provide them, including your information, will only be provided in connection with the performance of their function. They will not be permitted to use your information for any purposes other than those outlined in this Privacy Notice.</li>
      <li>We may also share your information with certain third parties. We will do this either when we receive your consent or because we need them to see your information to provide products or services to you. </li>
    </ul>
    <p class="policy-text">
      Your personal information may be transferred to other third party organisations in certain scenarios:</p>
    <ul class="terms-list">
      <li>if we discuss selling or transferring part or all of our business – the information may be transferred to prospective purchasers under suitable terms as to confidentiality;</li>
      <li>if we are reorganised or sold, information may be transferred to a buyer who can continue to provide services to you;</li>
      <li>if we are required to by law, or under any regulatory code or practice we follow, or if we are asked by any public or regulatory authority – for example the Police;</li>
      <li>if we are defending a legal claim your information may be transferred as required in connection with defending such claim</li>
      <li>if there is an emergency including which requires us to share your data to protect the health and safety of our website's or App's users or the general public.</li>
    </ul>
    <p class="policy-text">Your personal data may be shared if it is made anonymous and aggregated, as in such circumstances the information will cease to be personal data.</p>
    <p id="info-held" class="policy-block-heading">Where your information will be held </p>
    <p class="policy-text">Your information may be transferred outside the European Economic Area.</p>
    <p class="policy-text">The information that we collect from you may be transferred to and stored at a destination outside the European Economic Area (EEA), including the USA, which does not have equivalent data protection laws to those applicable to Europe. It may also be processed by staff operating outside the EEA who work for us, for one of our affiliated companies, or for the organisation that hosts our website or App.</p>
    <p class="policy-text">However, to ensure your personal information is properly protected in line with EU data protection law, the transfer of this information is governed by a contract including Standard Contractual Clauses (SCCs) approved by the European Commission in accordance with Article 46(2)(c) of the General Data Protection Regulation. </p>
    <p class="policy-text">We will only transfer data to jurisdictions outside the scope of the European General Data Protection Regulation (GDPR) where the appropriate safeguards set out in the GDPR are in place.</p>
    <p class="policy-text">If you would like to obtain copies of the regulator-approved SSCs please contact us on the contact details below.</p>
    <p id="rights" class="policy-block-heading">Your Rights</p>
    <p class="policy-text">You have certain rights in relation to your information. The availability of these rights and the ways in which you can use them are set out below in more detail.</p>
    <p class="policy-text">Some of these rights will only apply in certain circumstances. If you would like to exercise, or discuss, any of these rights, please contact <a class="policy-text-link" href="mailto:dataprivacy@img.com">dataprivacy@img.com</a>.</p>
    <ul class="terms-list">
      <li>Access: you are entitled to ask us if we are processing your information and, if we are, you can request access to your personal information.  This enables you to receive a copy of the personal information we hold about you and certain other information about it.</li>
      <li>Correction: you are entitled to request that any incomplete or inaccurate personal information we hold about you is corrected.</li>
      <li>Erasure: you are entitled to ask us to delete or remove personal information in certain circumstances. There are also certain exceptions where we may refuse a request for erasure, for example, where the personal data is required for compliance with law or in connection with claims.</li>
      <li>Restriction: you are entitled to ask us to suspend the processing of certain of your personal information about you, for example if you want us to establish its accuracy or the reason for processing it.</li>
      <li>Transfer: you may request the transfer of certain of your personal information to another party.</li>
      <li>Objection: where we are processing your personal information based on a legitimate interest (or those of a third party) you may challenge this.  However, we may be entitled to continue processing your information based on our legitimate interests or where this is relevant to legal claims.  You also have the right to object where we are processing your personal information for direct marketing purposes.</li>
      <li>Consent: where we are processing personal data with consent, you can withdraw your consent</li>
    </ul>
    <p class="policy-text">If you want to exercise any of these rights, please contact <a class="policy-text-link" href="mailto:dataprivacy@img.com">dataprivacy@img.com</a>.</p>
    <p class="policy-text">You also have a right to lodge a complaint with a supervisory authority, in particular in the Member State in the European Union where you are habitually resident where we are based or where an alleged infringement of Data Protection law has taken place. In the UK you can make a complaint to the Information Commissioner's Office (Tel: 0303 123 1113 or at www.ico.org.uk).</p>
    <p id="object" class="policy-block-heading">Right to object</p>
    <p class="policy-text">You have a right to object to us processing your information in certain circumstances.</p>
    <p class="policy-text">Objection: where we are processing your personal information based on a legitimate interest (or those of a third party) you may challenge this.  However, we may be entitled to continue processing your information based on our legitimate interests or where this is relevant to legal claims.  You also have the right to object where we are processing your personal information for direct marketing purposes.</p>
    <p id="direct" class="policy-block-heading">Direct Marketing</p>
    <p class="policy-text">As described above, you can opt-out of receiving direct marketing from us at any time.  </p>
    <p class="policy-text">We and/or members of our group may use the information you give us on our website / App for direct marketing purposes to provide updates; newsletters; events; or other communications that we think may interest you. We and they will only do this with your consent (where required by law).</p>
    <p class="policy-text">You can opt-out of receiving direct marketing from us at any time.  You can do this by changing your marketing preferences on your online accounts settings page, clicking on the "unsubscribe" link included at the end of any marketing email we send to you, or by contacting us using the contact details set out at the top of this Notice.</p>
    <p id="analysis" class="policy-block-heading">Analysis and Marketing</p>
    <p class="policy-text">We may use third party tools to personalise the advertising displayed to you on our website / App.</p>
    <p class="policy-text">We use third party tools, to make the advertising we show you on our website, Apps and / or our partner websites more relevant and interesting to you.</p>
    <p class="policy-text">Please see our Cookies Policy for further information.</p>
    <p class="policy-text">You may opt-out at any time from the collection and use of your data by contacting us at <a class="policy-text-link" href="mailto:dataprivacy@img.com">dataprivacy@img.com</a>.</p>
    <p class="policy-text">Do Not Track</p>
    <p class="policy-text">You can enable a 'Do Not Track' feature in your browser’s settings, if your browser supports that feature. When Do Not Track is turned on, your browser will send a Do Not Track request to the sites you visit. The Do Not Track request lets these sites know that you prefer not to have your browsing activity tracked. You can take similar steps in mobile. </p>
    <p class="policy-text">To submit a Do Not Track request on mobile using an iOS device: </p>
    <ul class="terms-list">
      <li>launch the Settings app on your iPhone → Privacy → Advertising.</li>
      <li>toggle ON the switch next to Limit Ad Tracking.</li>
      <li>now that you have opted out of receiving ads targeted to your interests, based on your Apple ID on that device, you will be removed from the list of users receiving targeted ads.</li>
    </ul>
    <p class="policy-text">To submit a Do Not Track request on mobile using an Android device</p>
    <ul class="terms-list">
      <li>open Google Settings,</li>
      <li>select AdsPrivacy. and toggle ON the switch next to Do Not Track to opt out of Ads Personalization. Do Not Track is now enabled on your Android device.</li>
      <li>Apps are then instructed not to use your advertising ID to build profiles or show you personalized ads.</li>
    </ul>
    <p class="policy-text">Some devices may require a different procedure, so please check your instructions.</p>
    <p id="cookies-notice"class="policy-block-heading">Cookies and Similar Technologies</p>
    <p class="policy-text">Cookies collect and store information when you visit our website including information about how you use it through which it is possible to monitor your use of the website, as well as provide you with a better service and experience when browsing the website and for analytics.</p>
    <p class="policy-text">Web beacons (also known as "single pixel GIFs", "clear GIFs" or "tags") are small graphic images that may be included on our website. Web beacons:</p>
    <ul class="terms-list">
      <li>allow us to optimise our products and services;</li>
      <li>provide us and third-party partners with analytics information, such as how many visitors our website receives; and </li>
      <li>are used by us in our email correspondence to determine whether you open them or take any further action. </li>
    </ul>
    <p class="policy-text">We also work with other organisations to place our cookies and web beacons on their websites or in their advertisements. We do this to help us develop statistics on how often clicking on an advertisement on our websites results in a purchase or other interaction on the advertiser's website.</p>
    <p class="policy-text">For more information about cookies and how we use them, please see our <a class="policy-text-link"  href="/cookie">Cookie Notice</a></p>
    <p id="security-notice" class="policy-block-heading">Security</p>
    <p class="policy-text">The transmission of information via the internet is not completely secure. Although we will take reasonable measures to protect your personal information, we cannot guarantee the security of your information transmitted through our App or website and any transmission is at your own risk. Once we have received your personal information, we will use procedures and security features to try to prevent unauthorised access.</p>
    <p id="links-notice" class="policy-block-heading">Links to third party website</p>
    <p class="policy-text">Our website, newsletters, email updates and other communications may, from time to time, contain links to and from the websites of others including our partner networks, advertisers and other group companies and/or social networks as offered to you and supported by your browser.</p>
    <p class="policy-text">The personal data that you provide through these websites is not subject to this privacy notice and the treatment of your personal data by such websites is not our responsibility. If you follow a link to any of these websites, please note that these websites have their own privacy notices which will set out how your information is collected and processed when visiting those sites. For more information about the purpose and scope of data collection and processing in connection with social sharing features, please visit the privacy notices of entities through which you choose to share.</p>
    <p id="children-notice" class="policy-block-heading">Children</p>
    <p class="policy-text">We do not knowingly collect information from children or other persons who are under 18 years old. If you are under 18 years old, you may not submit any personal information to us or subscribe for the services. If you believe we might have any personal information from or about a person under the age of 18, please contact us using the contact details set out at the top of this Notice.</p>
    <p id="changes-notice" class="policy-block-heading">Changes to this Notice</p>
    <p class="policy-text">This notice may be changed from time to time.</p>
    <p class="policy-text">If we change anything important about this notice (the information we collect, how we use it or why) we will highlight those changes at the top of the notice and provide a prominent link to it for a reasonable length of time following the change. </p>
    <p class="policy-text">Once this notice is posted on our website, it will automatically come into force. The latest version of this notice will prevail over all previous versions</p>
    <p class="policy-text">If you would like to access previous versions of this notice please contacting us using the contact details set out at the top of this Notice.</p>
    <p id="contact-notice" class="policy-block-heading">How to contact us</p>
    <p class="policy-text">If you would like more information about the way we manage personal information that we hold about you, or are concerned that we may have breached your privacy and wish to make a complaint, please contact us as set out below. We will do our best to resolve your complaint.</p>
    <p class="policy-text">If you have any questions about this notice please contact us using the contact details set out at the top of this Notice. </p>
  </div>
</main>
