<main>
  <div class="container">
    <p class="policy-heading">What to expect</p>
  </div>
  <div class="container-fluid about-img-wrapper">
    <div class="container">

        <div class="col-md-12 col-lg-8 offset-lg-4 about-text-img-wrapper">
          <img src="/assets/images/about_1.png" alt="">
        </div>
        <div class="col-md-12 col-lg-8 about-text-wrapper">
          <p class="about-text">{{environment.brandText}}:  The  Shows,  produced  by  IMG  Fashion  provides  Endeavor  Experiences  with  official  insider  access  to  one  of  fashion’s  most  coveted  events  this  February.  These  once-in-a-lifetime  curated  experiences  seat  you  alongside  fashion’s  elite,  models,  designers,  and  influencers</p>
        </div>

      <div class="row align-items-end desktop-row-img">
        <div class="col-md-3">
          <img src="assets/images/about_2.png" alt="">
        </div>
        <div class="col-md-4 offset-md-1">
          <img src="assets/images/about_3.png" alt="">
        </div>
        <div class="col-md-3 offset-md-1">
          <img src="assets/images/about_4.png" alt="">
        </div>
      </div>
      <div class="row desktop-row-img">
        <div class="col-md-3">
          <p class="about-img-text">Arrive  to  the  heart  of  the  west  village.</p>
        </div>
        <div class="col-md-4 offset-md-1">
          <p class="about-img-text">Be  escorted  to  our {{environment.brandText}}:  The  Experience    VIP  lounge  where  you  get  a  bird’s  eye  view  of  the  main  stage  while  enjoying  light  bites  and  refreshments</p>
        </div>
        <div class="col-md-3 offset-md-1">
          <p class="about-img-text">Bypass  the  lines  and  check  in  with  your {{environment.brandText}}:  The  Experience  concierge</p>
        </div>
      </div>
      <div class="row mobile-row-img">
        <div class="col-md-12">
          <img src="assets/images/about_2.png" alt="">
          <p class="about-img-text">Arrive  to  the  heart  of  the  west  village.</p>
        </div>
        <div class="col-md-12">
          <img src="assets/images/about_3.png" alt="">
          <p class="about-img-text">Be  escorted  to  our {{environment.brandText}}:  The  Experience    VIP  lounge  where  you  get  a  bird’s  eye  view  of  the  main  stage  while  enjoying  light  bites  and  refreshments</p>
        </div>
        <div class="col-md-12">
          <img src="assets/images/about_4.png" alt="">
          <p class="about-img-text">Bypass  the  lines  and  check  in  with  your {{environment.brandText}}:  The  Experience  concierge</p>
        </div>
      </div>
      <div class="row second-row-img align-items-end desktop-row-img">
        <div class="col-md-6">
          <img src="assets/images/about_5.png" alt="">
        </div>
        <div class="col-md-5 offset-md-1">
          <img src="assets/images/about_6.png" alt="">
        </div>
      </div>
      <div class="row desktop-row-img">
        <div class="col-md-6">
          <p class="about-img-text">With  a  customized  itinerary  planned  in  advance  just  for  you,  enjoy  our {{environment.brandText}}:  The  Experience  lounge  while  you  wait  for  your  scheduled  inclusion.</p>
        </div>
        <div class="col-md-5 offset-md-1">
          <p class="about-img-text">And,  take  advantage  a  hair  touch  by  a  professional  stylist  and  your  lip  touched  up  with  the  hottest  colors  of  the  season.</p>
        </div>
      </div>
      <div class="row mobile-row-img">
        <div class="col-md-12">
          <img src="assets/images/about_5.png" alt="">
          <p class="about-img-text">With  a  customized  itinerary  planned  in  advance  just  for  you,  enjoy  our {{environment.brandText}}:  The  Experience  lounge  while  you  wait  for  your  scheduled  inclusion.</p>
        </div>
        <div class="col-md-12">
          <img src="assets/images/about_6.png" alt="">
          <p class="about-img-text">And,  take  advantage  a  hair  touch  by  a  professional  stylist  and  your  lip  touched  up  with  the  hottest  colors  of  the  season.</p>
        </div>
      </div>
      <div class="row third-row-img align-items-end">
        <div class="col-md-12 col-lg-7">
          <div class="img-the-talks">
            <img class="" src="assets/images/about_8.png" alt="">
          </div>
          <p class="about-img-text">Throughout  the  course  of  the  day,  included  within  your  experience<br>package,  is  a  reserved  seat  to  THE  TALKS.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <p class="about-text-bottom">Don’t  have  all  day?  We’ve  curated  an  experience  that  is  tailored  for  this,  too.</p>
    <p class="about-text-arrow"><a href (click)="gotoPage('')">SEE  SHOW  ONLY  EXPERIENCES</a></p>
  </div>
</main>
