<main>
  <div class="container">
    <div>
      <p class="policy-heading terms-heading">{{environment.brandText}}: THE EXPERIENCE - FAQ</p>
      <!-- (more tactical)
      (dummied down)
      (include what isn’t on the product page or about section) -->

      <p>Below are some commonly asked questions, to help assist you with purchasing or attending {{environment.brandText}}: The Experience.</p>
      <p>Feel free to contact experiences@endeavorco.com or call +1 212-774-6798 for additional support.</p>

      <p class="policy-block-heading">PURCHASE RELATED QUESTIONS</p>
      <p class="policy-text policy-text-bold">How can I purchase a package to {{environment.brandText}}?</p>
      <p>A-  You can purchase a package online at {{window.location.href}} the official and exclusive marketplace for {{environment.brandText}} The Shows access.</p>
      <p class="policy-text policy-text-bold">What are the payment terms?</p>
      <p>A – The price of the package is in USD. You are required to submit full payment at check out in order to secure your order. Please note, all sales are final and non-refundable.
      Endeavor Experiences is not obligated to provide any elements of the package unless payment is received in full, and in a timely manner.</p>
      <p class="policy-text policy-text-bold">Are there any additional fees?</p>
      <p>A-    Yes, NY State sales tax (rate of 8.875%) will be applied to each order.
      <p class="policy-text policy-text-bold">What methods of payment are accepted?</p>
      <p>A-    All major credit cards are accepted.</p>
      <p class="policy-text policy-text-bold">Can I purchase this experience for someone else?</p>
      <p>A-  Of course! We just need you to tell us who will be attending and how best to contact them, so they get all of the pertained event information.</p>
      <p class="policy-text policy-text-bold">If you need to change the name, at any time, please contact experiences@endeavorco.com.</p>
      <p>Please note packages are non-transferable and reselling packages is not permitted.</p>
      <p class="policy-text policy-text-bold">Are there any special considerations given to groups?</p>
      <p>A-    Yes! For group inquiries, please email experiences@endeavorco.com or call +1 212-774-6798 to talk about your specific needs.</p>
      <p class="policy-text policy-text-bold">Can I purchase a package on-site at the event?</p>
      <p>A – Yes! You will be allowed to purchase a package on-site at the event. Please note though that packages could be sold out or package availability could be limited. It is best to purchase a package in advance to ensure you receive the full benefits.</p>
      <p class="policy-text policy-text-bold">How do I receive my package?</p>
      <p>A-  Endeavor Experiences will make all arrangements on your behalf, so you don’t have to worry about your day. Your package will be delivered onsite, the day you are earmarked to attend. A personalized itinerary, of your day, will be sent in advance.</p>
      <p class="policy-text policy-text-bold">How can I get a refund?</p>
      <p>A-  All sales are final.</p>

      <p class="policy-block-heading">EXPERIENCE RELATED QUESTIONS</p>
      <p class="policy-text policy-text-bold">If I am buying a package, do all of the inclusions take place on the same day?</p>
      <p>A-  Yes, all elements of your package are fulfilled on the selected day you choose.</p>
      <p class="policy-text policy-text-bold">What do I need to show when checking in onsite?</p>
      <p>A-  A photo ID</p>
      <p class="policy-text policy-text-bold">When does the official {{environment.brandText}}: The Shows schedule get announced?</p>
      <p>A-  It will be released a few weeks prior to the event.</p>
      <p class="policy-text policy-text-bold">If I purchased the Platinum Experience, but want to attend an addition show or two in that day, how can I do that?</p>
      <p>A-  If you purchased the Platinum Experience package and would like to attend additional shows during the day you are receiving your package for, please click here to add other shows to your itinerary. Please note, each show is $699 additional.</p>
      <p class="policy-text policy-text-bold">Once I purchase the package, how will I choose my preferred show?</p>
      <p>A-    Your {{environment.brandText}}: The Experience Concierge will contact you within 24 hours once payment is received and you will then have an opportunity to choose your preferred show. Best efforts will be made to fulfill your request. Please note, all show attendance is based on availability at the time of booking and all shows times are subject to change prior to the event.</p>
      <p class="policy-text policy-text-bold">What time does hospitality open and what time does it close?</p>
      <p>A-  Times vary. It’s best to check with your {{environment.brandText}}: The Experience Concierge team member for the latest information.</p>
      <p class="policy-text policy-text-bold">What else can be added to my Experience?</p>
      <p>A-    For help making your event memorable, please contact experiences@endeavorco.com to speak to a concierge team member who can assist you.</p>
      <p class="policy-text policy-text-bold">If I am unable to attend the event after purchase, who do I contact?</p>
      <p>A-    Please contact experiences@endeavorco.com or call +1 212-774-6798. Please note that packages are non-refundable.</p>
      <p class="policy-text policy-text-bold">If the event is cancelled, how will I be notified?</p>
      <p>A-    Please check the purchase policy (LINK) for the event cancellation policy. You will be notified by email or phone to the information we have on file.</p>
      <p class="policy-text policy-text-bold">Is the event ADA compliant?</p>
      <p>A – Yes, both venues are ADA compliant.</p>
      <p class="policy-text policy-text-bold">What is the address of Spring Studios?</p>
      <p>A-    6 St Johns Lane, New York, NY 10013</p>
      <p class="policy-text policy-text-bold">What is the address of Industria?</p>
      <p>A-    775 Washington St, New York, NY 10014</p>
      <p class="policy-text policy-text-bold">Are there any age restrictions?</p>
      <p>A-    If the attendee is under the age of 18, a parent or legal guardian needs to be present and accompany the minor.</p>
    </div>
  </div>
</main>
